.container{
    width: 100%;
    margin: 4rem auto 0;

    img {
        width: 100%;
    }
}

.post{
    max-width: 1120px;
    margin: 4rem auto 0;

    .info {
        max-width: 1120px;
        display: block;
        align-items: flex-start;
        margin-top: 1rem;

            time {
                font-size: 0.8rem;
                margin-right: 1rem;
                color:(--gray-300);
            }
            
            span {
                font-size: 0.8rem;
                margin-right: 1rem;
                color:(--gray-300);
            }
        }  
}

.content {
    max-width: 1120px;
    margin-top: 4rem;
    margin-bottom: 1rem;

    h2 {
        margin-bottom: 2rem;
    }
    
}